
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root{
    --gradient-beginning: #4ebef1;
    --gradient-end: #5ec55b;
    --gradient-beginning-dark: #10242e;
    --gradient-end-dark: #0e1d0e;
    --textbox-background: #5555559d;
    --button-background: #3d67f0;
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: large;
    line-height: 1.4;
}

body{
    background-image: url("resources/texture_13.png");
    background-size: 300px;
}

header{
    background-color: black;
    position: fixed;
    width: 100vw;
    z-index: 1;
    /*background-color: linear-gradient(to right, #7D84FF, #FF7DF8);;*/
}

header nav a{
    color: white;
    text-decoration: none;
    line-height: 7vh;
    margin-left: 1vw;
    text-shadow: 0px 0px 5px black;
}

aside{
    position: fixed;
    background-color: black;
    left: 1vw;
    top: 8vh;
    z-index: 1;
    border-radius: 10px;
    text-shadow: 0px 0px 5px black;
}

aside *{
    text-decoration: none;
    color: white;
    list-style: none;
}

aside nav ul li{
    margin: 5px;
}

h1{
    font-size: 35px;
}

h2{
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.beginning{
    display: flex;
    align-content: center;
    justify-content: space-between;

    width: 100%;
    /* background-image: url("resources/gizmo.png"); */
    background-image: linear-gradient(to right, var(--gradient-beginning), var(--gradient-end));
    background-size:cover;
    color: white;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 calc(100% - 5vw)
    );
    margin-bottom: -5vw;
}

.beginning img{
    height: 650px;
    transform: scaleX(-1);
    align-self: flex-end;
    margin-top: 10px;
    margin-left: -150px;
    z-index: -1;
}

.beginning h1{
    margin: 50px -150px 10px 200px;
    text-wrap: nowrap;
}

.aboutme{
    align-self: center;
    background-color: var(--textbox-background);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 20px -5px black;
}

main{
    padding-top: 7vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

article{
    display: flex;
    margin: 10px;
}

article figure{
    width: 50%;
    flex: 0 0 50%;
}

article figure img{
    display: block;
    width: 100%;
}

article figure video{
    display: block;
    width: 100%;
}

figcaption{
    text-align: center;
    color: gray;
}

.divider{
    display: flex;
    flex-direction: row;
}

.half-width{
    display: block;
    width: 50%;
}

.content{
    width: 80vw;
    /* background-color: #111111; */
    background-image: linear-gradient(#111111, var(--gradient-beginning-dark), var(--gradient-end-dark), #111111);
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 5vw;
    box-shadow: 0px 0px 30px -5px black;
}

.text{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text p{
    width: 50%;
}

.portfolio-item-links {
    margin: 10px;
    text-align: center;
    background-color: var(--textbox-background);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 20px -5px black;
}

.portfolio-item-links a {
    line-height: 40px;
    text-decoration: none;
    padding: 5px;
    background-color: var(--button-background);
    border-radius: 5px;
}

.cv article{
    display: flex;
    margin: 10px;
    justify-content: center;
}

.aboutme p{
    text-align: center;
}

#aboutme{
    display: flex;
    justify-content: center;
    width: 30%;
}

.backup_aboutme{
    display: none;
}

.backup_aboutme p{
    margin: 10px;
    text-align: center;
}

.biography-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#bio_text{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.bio p{
    text-align: left;
    width: 50%;
}

.contact nav{
    display: flex;
    justify-content: space-evenly;
}

.contact nav a{
    display: block;
    width: 5%;
}

.contact nav a img{
    width: 100%;
}

.contact p{
    text-align: center;
    margin: 10px;
}

.skills nav{
    display: flex;
    justify-content: space-evenly;
}

.skills nav a{
    display: block;
    width: 5%;
}

.skills nav a img{
    width: 100%;
}

@media screen and (max-width: 1000px) {
    aside {
        visibility: hidden;
    }
    .beginning h1 {
        margin-left: 10px;
    }
    .content {
        width: 100vw;
    }
    .beginning img {
        height: 400px;
    }
    #aboutme{
        display: none;
    }
    .backup_aboutme{
        display: block;
    }
    article {
        flex-wrap: wrap;
        padding-bottom: 30px;
        gap: 10px;
    }
    article figure {
        order: -1;
        width: 100%;
        flex: 0 0 100%;
    }
    .text {
        width: 100%;
    }
}

/*filtering buttons*/

.filters{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.filter{
    border-radius: 40px;
    padding: 5px;
    background-color: transparent;
    border-color: var(--button-background);
    display: flex;
    align-items: center;
}

.pressed .toggle-icon{
    background-image: url("resources/check.png")
}

.toggle-icon{
    width: 20px;
    height: 20px;
    background-size: cover;
    background-image: url("resources/cross.png");
}

.pressed{
    background-color: var(--button-background);
    border-color: transparent;
}

.hidden{
    display: none;
}

.reverse{
    flex-direction: row-reverse;
}