
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body{
    background-image: url("resources/texture_13.png");
    background-size: 300px;
}

header{
    background-color: black;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

header nav a{
    color: white;
    text-decoration: none;
    line-height: 7vh;
    margin-left: 1vw;
}

aside{
    position: fixed;
    background-color: black;
    left: 1vw;
    top: 8vh;
    z-index: 1;
    border-radius: 10px;
}

aside *{
    text-decoration: none;
    color: white;
    list-style: none;
}

aside nav ul li{
    margin: 5px;
}

h1{
    font-size: 30px;
}

.beginning{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
    background-image: url("resources/gizmo.png");
    background-image: linear-gradient(to right, #7D84FF, #FF7DF8);
    background-size:cover;
    color: white;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 calc(100% - 5vw)
    );
    margin-bottom: -5vw;
}

.beginning img{
    height: 600px;
    transform: scaleX(-1);
    align-self: flex-end;
    margin-top: 10px;
}

.beginning h1{
    margin: 50px 0 10px 0;
}

.aboutme{
    align-self: center;
    background-color: #5555559d;
    border-radius: 10px;
    padding: 10px;
}

main{
    padding-top: 7vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

article{
    display: flex;
    margin: 10px;
}

article figure{
    width: 50%;
    flex: 0 0 50%;
}

article figure img{
    display: block;
    width: 100%;
}

article figure video{
    display: block;
    width: 100%;
}

figcaption{
    text-align: center;
    color: gray;
}

.content{
    width: 80vw;
    /* background-color: #111111; */
    background-image: linear-gradient(#111111, #2f315f, #41203f, #111111);
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 5vw;
}

.text{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text p{
    width: 50%;
}

h2{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.cv article{
    display: flex;
    margin: 10px;
    justify-content: center;
}

.aboutme p{
    text-align: center;
    
}

#aboutme{
    display: flex;
    justify-content: center;
    width: 30%;
}


#bio_text{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.bio p{
    text-align: center;
    width: 50%;
}

.contact nav{
    display: flex;
    justify-content: space-evenly;
}

.contact nav a{
    display: block;
    width: 5%;
}

.contact nav a img{
    width: 100%;
}

.contact p{
    text-align: center;
    margin: 10px;
}

.skills nav{
    display: flex;
    justify-content: space-evenly;
}

.skills nav a{
    display: block;
    width: 5%;
}

.skills nav a img{
    width: 100%;
}